:root{
    --verde: #259F6C;
    --blanco: #FAFCD6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  .fondo{
    background-color: var(--verde);
    width: 100vw;
    height: 37vh;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .fondo::before{
    content: "";
    width: 100px;
    height: 70px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
  }
  
  .fondo::after{
    content: "";
    width: 100px;
    height: 70px;
    background-color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    z-index: 1;
  }
  
  .cuadro_datos{
    width: 90vw;
    max-height: 30  vh;
    background-color: var(--blanco);
    border-radius: 5px;
    position: relative;
    top: 50%;
    z-index: 50;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
  }
  
  
  .boton1{
    position: absolute;
    top: 15px;
    left: 10px;
    width: 50px;
  }
  .boton1 > .bars{
    font-size: 25px;
  }
  .boton2{
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .cuadro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  .cuadro > button{
    margin: 7px;
    background-color: var(--verde);
    color: var(--blanco);
    border: none;
    padding: 3px;
    border-radius: 3px;
  }
  
  

  .modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, .5);
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ventana{
    width: 80vw;
    height: 50vh;
    background-color: #fff;
    position: relative;
  }
  .ventana > button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 7px;
    padding: 2px;
    background-color: transparent;
    border: none;
  }
  /*------------- css js ----------------*/

  .titleModal{
    text-align: center;
  }

  /*------------- ventana modal -------------*/

  .saldo{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 15px;
  }
  .saldo > input{
    padding: 7px;
  }

  .saldo > button{
    padding: 12px;
    border: none;
    color: var(--blanco);
    background-color: var(--verde);
    border-radius: 17px;
  }
  